# Git and environments
.git
.gitignore
venv/
__pycache__/
*.pyc

#data (avoiding raw data in the API container)
data/

# Tests
tests/
.pytest_cache/

# CI/CD
.github/

# Local MLflow tracking
mlruns/
*.db